/* 전체 */
.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f4f6f9;
  overflow: hidden;
}

/* 우측 전체 영역 */
.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 탭 아래 페이지 영역 */
.page-area {
  flex: 1;
  padding: 24px 32px;
  overflow-y: auto;
}

/* 실제 콘텐츠 컨테이너 (중앙 정렬) */
.page-container {
  max-width: 1440px;
  margin: 0 auto;
  padding:0 24px;
  /* background: transparent; */
}


.page-container {
  max-width: 1440px;     /* ⭐ 핵심 */
  margin: 0 auto;
  padding: 24px;
}

.page-card {
  border-radius: 10px;
}